---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div>
		<div>
			<h2>Front-end</h2>
		</div>
		<div class="icon">
			<div title="HTML">
				<Icon icon="html" size="3rem" />
			</div>
			<div title="CSS">
				<Icon icon="css" size="3rem" />
			</div>
			<div title="Bootstrap">
				<Icon icon="bootstrap" size="3rem" />
			</div>
			<div title="JavaScript">
				<Icon icon="js" size="3rem" />
			</div>
			<div title="React">
				<Icon icon="react" size="3rem" />
			</div>
			<!-- <div title="Astro">
				<Icon icon="astro" size="3rem" />
			</div>	 -->
		</div>
	</div>
	<div class="flex">
		<div>
			<h2>Back-end</h2>
		</div>
		<div class="icon">
			<div title="Laravel">
				<Icon icon="laravel" size="3rem" />
			</div>
			<div title="Php">
				<Icon icon="php" size="3rem" />
			</div>
			<div title="MySql">
				<Icon icon="sql" size="3rem" />
			</div>
			<div title="MongoDb">
				<Icon icon="mongoDb" size="3rem" />
			</div>
		</div>
		
		
	</div>
	<div class="flex">
		<div>
			<h2>Outils</h2>
		</div>
		<div class="icon">
			<div title="GitHub">
				<Icon icon="github" size="3rem" />
			</div>
			<div title="VsCode">
				<Icon icon="vscode" size="3rem" />
			</div>
			<div title="Figma">
				<Icon icon="figma" size="3rem" />	
			</div>
		</div>
	</div> 
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
		padding-bottom: 1rem
	}

	.skills p {
		color: var(--gray-400);
	}

	.skills .icon {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 3rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
